.listU {
  list-style-type: none;
  margin: 0;
  margin-top: 0ch;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.listl {
  float: left;
}

.listlA {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Times New Roman', Times, serif;

}

.listl:hover {
  background-color: #111;
}