body{

  background-color:rgb(149, 149, 151);
  color: white;
}

.links {
  
  display: flex;
  justify-content: center;
  gap: 3rem;
  border: 1PX solid burlywood;
  border-radius: 5%;
  padding: 20px;
  margin: 20px;
  font-size: 20px;
  
  
}
button{
  border-radius: 5%;
  padding: 10px;
  margin: 10px;
}
.Home{

  display: flex;
  justify-content: center;
  margin-top: 150px;

}
h1{
  display: block;
}

